@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.dashboard__search input, .social-icon__container, .message-user input,
.message-user textarea,
.message-user select, .settings input,
.settings textarea,
.settings select {
  border-radius: 0.3em;
  border: 1px solid #d1d1d1; }

.dashboard > .grid__row:not(:first-child), .dashboard__search, .activity > div:not(:last-child) {
  border-bottom: 1px solid #d1d1d1; }

.toggle__slider .on, .toggle__slider .off {
  position: absolute;
  top: 50%;
  left: 25%;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #686868; }

a {
  text-decoration: none;
  color: #fff; }

.app-name {
  font-size: 18px; }
  .app-name span {
    font-weight: 700; }

.autocomplete-list {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0; }
  .autocomplete-list li {
    margin: 0 auto;
    width: 95%;
    cursor: pointer;
    border-radius: 0.3em;
    display: block;
    border: 1px solid #d1d1d1;
    background: #FBFBFB;
    padding: 0.5em;
    margin-bottom: 0.3em; }
    .autocomplete-list li:hover {
      border-color: #7477bf; }

body {
  width: 100%; }
  @media (min-width: 769px) {
    body {
      background: #d1d1d1; } }

.container {
  width: 100%; }

@media (min-width: 769px) {
  .grid__row {
    display: flex;
    flex-flow: row;
    justify-content: space-between; } }
@media (min-width: 769px) {
  .grid__col {
    width: 100%;
    display: flex;
    flex-flow: column; }
    .grid__col--1 {
      width: 6.5%; }
    .grid__col--2 {
      width: 15%; }
    .grid__col--3 {
      width: 23.5%; }
    .grid__col--4 {
      width: 32%; }
    .grid__col--5 {
      width: 40.5%; }
    .grid__col--6 {
      width: 49%; }
    .grid__col--7 {
      width: 57.5%; }
    .grid__col--8 {
      width: 66%; }
    .grid__col--9 {
      width: 74.5%; }
    .grid__col--10 {
      width: 83%; }
    .grid__col--11 {
      width: 91.5%; }
    .grid__col--12 {
      width: 100%; }
    .grid__col--6 {
      display: flex;
      flex-flow: column;
      justify-content: space-between; } }

@media (min-width: 769px) {
  .daily-traffic,
  .new-members,
  .message-user {
    border-right: 1px solid #d1d1d1; } }

.dashboard > .grid__row > .grid__col--6,
.social-stats,
.traffic {
  padding: 1em; }

.dashboard {
  max-width: 1400px;
  margin: 0 auto;
  background: #fff; }
  .dashboard__title {
    vertical-align: middle;
    margin: 1em 1em 0 1em;
    font-weight: 400; }
  .dashboard__search {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 1em;
    border-left: 1px solid #d1d1d1;
    background: #FBFBFB; }
    @media (min-width: 769px) {
      .dashboard__search {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-end; } }
    .dashboard__search input {
      margin-right: 0;
      width: 50%;
      padding: 0.7em;
      border: 1px solid #d1d1d1; }

.remove:after {
  display: none; }

.header {
  width: 100%;
  background: #7477bf;
  font-weight: 300;
  color: #fff;
  align-items: center;
  padding: 1em; }
  .header--right {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em; }
    .header--right .notification {
      margin-right: 1em;
      position: relative; }
      .header--right .notification:hover {
        cursor: help; }
      .header--right .notification:after {
        content: "";
        position: absolute;
        bottom: 85%;
        left: 75%;
        background: #81c98f;
        width: 5px;
        height: 5px;
        border-radius: 50%; }
    .header--right .profile {
      border-left: 1px solid #4d4c72;
      padding: 0.3em 0 0.3em 1em; }
      .header--right .profile__name {
        font-size: 12px; }
      .header--right .profile__image {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 0.3em; }
    @media (min-width: 769px) {
      .header--right {
        margin-top: 0; } }

.pop-up {
  height: 150px;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  top: 12em;
  width: 270px;
  display: none;
  border: 1px solid #d1d1d1;
  border-radius: 0.3em;
  position: absolute;
  background: #FBFBFB;
  color: #7477bf; }
  .pop-up .notifications {
    margin: auto 0; }
  @media (min-width: 769px) {
    .pop-up {
      height: 100px;
      width: 500px;
      right: 1em;
      top: 5em; } }
  .pop-up button {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    width: 100%;
    background: #7477bf;
    border: none;
    padding: 0.4em;
    font-size: 12px;
    color: #fff;
    transition: 0.4s; }
    .pop-up button:hover {
      cursor: pointer;
      background: #4d4c72; }
  .pop-up p {
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    font-weight: 700;
    line-height: 1;
    padding: 0.3em 0.3em; }
    .pop-up p span {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5em;
      font-size: 20px;
      color: #d1d1d1;
      transition: 0.3s; }
      .pop-up p span:hover {
        transform: scale(1.3); }
    .pop-up p:hover {
      cursor: default;
      background: #7477bf;
      color: #fff; }

.side-nav {
  background: #4d4c72;
  display: flex;
  flex-flow: row;
  justify-content: space-around; }
  .side-nav__item {
    padding: 0 1.5em;
    margin: 1.5em 0; }
    .side-nav__item:first-child {
      position: relative; }
      .side-nav__item:first-child:after {
        left: 0;
        top: 49px;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        content: "";
        border-top: 3px solid #81c98f;
        border-radius: 0.3em; }
        @media (min-width: 769px) {
          .side-nav__item:first-child:after {
            padding-top: 100%;
            border-right: 3px solid #81c98f;
            top: -10px;
            left: -100%;
            margin: 0 auto;
            width: 100%;
            padding-top: 70%; } }
    .side-nav__item:not(:first-child) {
      opacity: 0.6; }
  @media (min-width: 769px) {
    .side-nav {
      display: flex;
      flex-flow: column;
      justify-content: baseline; } }

.alert {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 1.3em auto;
  background: #7477bf;
  color: #fff;
  width: 90%;
  border-radius: 0.3em;
  align-items: center; }
  .alert__text {
    display: flex;
    align-items: center; }
    .alert__text h4 {
      margin: 1em; }
    .alert__text p {
      font-size: 12px; }
  .alert__button button {
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    font-size: 28px;
    margin-right: .3em; }
    .alert__button button:hover {
      cursor: pointer;
      transform: scale(1.3); }

.widget__header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center; }
.widget__buttons-container {
  margin-top: 1.3em; }
  .widget__buttons-container button {
    padding: 0.3em;
    border-radius: 1em;
    margin-right: 1em;
    font-weight: 700;
    border: none;
    outline: none;
    background: transparent;
    color: #686868; }
  .widget__buttons-container .selected {
    background: #81c98f;
    color: #fff;
    transition: .7s; }
.widget__title {
  display: block;
  margin: 1.3em 0 0 1.3em; }

.activity {
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .activity > div {
    padding: 1em 0;
    margin-bottom: 1em; }
    @media (min-width: 769px) {
      .activity > div {
        height: 70px; } }
  .activity__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1em; }
    @media (min-width: 769px) {
      .activity__image {
        margin-left: 0; } }
  .activity__info {
    list-style: none;
    padding: 0;
    margin: auto 0 auto 0.7em; }
    .activity__info li:last-child {
      color: #7477bf;
      font-size: 12px; }
  .activity__date {
    text-align: right; }
    .activity__date a {
      font-size: 3em;
      color: #7477bf; }

.social-icon__bg {
  padding: 1em;
  margin-left: 0;
  background: #7477bf;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center; }
  .social-icon__bg svg {
    margin: 0 auto;
    display: block;
    transform-origin: 50% 50%; }
  .social-icon__bg svg path {
    fill: #fff; }
  .social-icon__bg--twitter {
    width: 175px; }
.social-icon--twitter {
  transform: translateY(3px); }
.social-icon--facebook {
  transform: translateY(-3.3px); }
.social-icon__container {
  background: #FBFBFB;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 1.3em;
  padding: 1em; }
  @media (min-width: 769px) {
    .social-icon__container {
      margin: 0 auto; } }
  .social-icon__container h3 {
    color: #7477bf;
    margin: 0; }
  .social-icon__container p {
    font-size: 3em;
    margin: 0; }
    @media (min-width: 1025px) {
      .social-icon__container p {
        font-size: 4em; } }
.social-icon__text {
  margin-left: 1em; }

.message-user input,
.message-user textarea,
.message-user select, .settings input,
.settings textarea,
.settings select {
  width: 100%;
  padding: 1em;
  resize: none;
  background: #FBFBFB;
  margin: 0.8em 0;
  font-family: "Open Sans", sans-serif; }
.message-user input:focus,
.message-user textarea:focus,
.message-user input:hover,
.message-user textarea:hover,
.message-user select:hover,
.message-user select:focus, .settings input:focus,
.settings textarea:focus,
.settings input:hover,
.settings textarea:hover,
.settings select:hover,
.settings select:focus {
  outline: #7477bf;
  border: 1px solid #7477bf; }

.btn {
  margin-bottom: 1.3em;
  width: 100%;
  padding: 1em;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-weight: 700; }
  .btn.primary {
    background: #7477bf;
    transition: background-color 1s; }
  .btn.secondary {
    background: #d1d1d1; }

.switch-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 1em; }

.toggle__switch {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 34px; }
  .toggle__switch input {
    display: none; }
  .toggle__switch label {
    position: absolute;
    z-index: 100;
    width: 95px;
    height: 34px;
    cursor: pointer; }
.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b2b2b2;
  border: 2px solid #d1d1d1;
  border-radius: 34px;
  transition: 0.4s; }
  input:checked + .toggle__slider {
    background-color: #7477bf; }
  .toggle__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3.5px;
    background: #fff;
    border: 2px solid #d1d1d1;
    border-radius: 50%;
    transition: 0.4s; }
    input:checked + .toggle__slider:before {
      transform: translateX(250%); }
  .toggle__slider .on {
    display: none;
    transform: translate(-50%, -50%); }
    input:checked + .toggle__slider .on {
      display: block; }
  .toggle__slider .off {
    transform: translate(100%, -50%); }
    input:checked + .toggle__slider .off {
      display: none; }

.settings__label {
  margin: auto 0; }

* {
  box-sizing: border-box; }

/*# sourceMappingURL=styles.css.map */
