@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.icon__container--social, .message-user input,
.message-user textarea,
.message-user select, .settings input,
.settings textarea,
.settings select, .dashboard-search input {
  border-radius: 0.3em;
  border: 1px solid #d1d1d1; }

.dashboard > .grid__row:not(:first-child), .newmembers > div:not(:last-child), .dashboard-search {
  border-bottom: 1px solid #d1d1d1; }

.slider .on, .slider .off {
  position: absolute;
  top: 50%;
  left: 25%;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #686868; }

a {
  text-decoration: none;
  color: #fff; }

.title span {
  font-weight: bold; }

.widget-title {
  display: block;
  margin: 1.3em 0 0 1.3em; }

body {
  width: 100%; }

.container {
  width: 100%; }

@media (min-width: 769px) {
  .grid__row {
    display: flex;
    flex-flow: row;
    justify-content: space-between; } }
@media (min-width: 769px) {
  .grid__col {
    width: 100%;
    display: flex;
    flex-flow: column; }
    .grid__col--1 {
      width: 6.5%; }
    .grid__col--2 {
      width: 15%; }
    .grid__col--3 {
      width: 23.5%; }
    .grid__col--4 {
      width: 32%; }
    .grid__col--5 {
      width: 40.5%; }
    .grid__col--6 {
      width: 49%; }
    .grid__col--7 {
      width: 57.5%; }
    .grid__col--8 {
      width: 66%; }
    .grid__col--9 {
      width: 74.5%; }
    .grid__col--10 {
      width: 83%; }
    .grid__col--11 {
      width: 91.5%; }
    .grid__col--12 {
      width: 100%; }
    .grid__col--6 {
      display: flex;
      flex-flow: column;
      justify-content: space-between; } }

.sidebar {
  display: flex;
  flex-flow: row;
  justify-content: space-around; }
  @media (min-width: 769px) {
    .sidebar {
      display: flex;
      flex-flow: column;
      justify-content: baseline; } }

.switch-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between; }

@media (min-width: 769px) {
  .daily-traffic,
  .new-members,
  .message-user {
    border-right: 1px solid #d1d1d1; } }

.dashboard > .grid__row > .grid__col--6,
.social-stats,
.traffic {
  padding: 1em; }

.header {
  width: 100%;
  background: #7477bf;
  font-weight: 300;
  color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em; }
  .header--left .title {
    font-size: 18px; }
  .header--right {
    display: flex;
    align-items: center; }
    .header--right .notification {
      margin-right: 1em;
      position: relative; }
      .header--right .notification:after {
        content: "";
        position: absolute;
        bottom: 90%;
        left: 80%;
        background: #81c98f;
        width: 5px;
        height: 5px;
        border-radius: 50%; }
    .header--right .profile {
      border-left: 1px solid #4d4c72;
      padding: 0.3em 0 0.3em 1em; }
      .header--right .profile__name {
        font-size: 12px; }
      .header--right .profile__image {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 0.3em; }

.sidebar {
  background: #4d4c72; }
  .sidebar__item {
    margin: 1.5em; }
  .sidebar__item:not(:first-child) {
    opacity: .6; }

.alert {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 1.3em auto;
  background: #7477bf;
  color: #fff;
  width: 90%;
  border-radius: 0.3em;
  align-items: center; }
  .alert__text {
    display: flex;
    align-items: center; }
    .alert__text h4 {
      margin: 1em; }
    .alert__text p {
      font-size: 12px; }
  .alert__button button {
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    font-size: 28px;
    margin-right: .3em; }
    .alert__button button:hover {
      cursor: pointer;
      transform: scale(1.3); }

.newmember-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 1em; }
  @media (min-width: 769px) {
    .newmember-image {
      margin-left: 0; } }

.newmember-info {
  list-style: none;
  padding: 0;
  margin: auto 0 auto 0.7em; }
  .newmember-info li:last-child {
    color: #7477bf;
    font-size: 12px; }

.newmembers > div {
  padding: 1em 0;
  margin-bottom: 1em; }
  @media (min-width: 769px) {
    .newmembers > div {
      height: 70px; } }

.signup-date a {
  font-size: 3em;
  color: #7477bf; }

.signup-date {
  text-align: right; }

.social-stats {
  padding: 1.3em 1em 2.6em; }

.icon__bg--social {
  padding: 1em;
  margin-left: 0;
  background: #7477bf;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center; }
  .icon__bg--social svg {
    margin: 0 auto;
    display: block;
    transform-origin: 50% 50%; }
  .icon__bg--social svg path {
    fill: #fff; }
  .icon__bg--social .twitter__icon {
    transform: translateY(3px); }
  .icon__bg--social .facebook__icon {
    transform: translateY(-3.3px); }

.icon__container--social {
  background: #fbfbfb;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 1.3em;
  padding: 1em; }
  @media (min-width: 769px) {
    .icon__container--social {
      margin: 0 auto; } }
  .icon__container--social h3 {
    color: #7477bf;
    margin: 0; }
  .icon__container--social p {
    font-size: 3em;
    margin: 0; }
    @media (min-width: 1025px) {
      .icon__container--social p {
        font-size: 4em; } }

.social-text {
  margin-left: 1em; }

.message-user input,
.message-user textarea,
.message-user select, .settings input,
.settings textarea,
.settings select {
  width: 100%;
  padding: 1em;
  resize: none;
  background: #fbfbfb;
  margin: 0.8em 0;
  font-family: "Open Sans", sans-serif; }
.message-user input:focus,
.message-user textarea:focus,
.message-user input:hover,
.message-user textarea:hover,
.message-user select:hover,
.message-user select:focus, .settings input:focus,
.settings textarea:focus,
.settings input:hover,
.settings textarea:hover,
.settings select:hover,
.settings select:focus {
  outline: #7477bf;
  border: 1px solid #7477bf; }

.dashboard-search {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 1em;
  border-left: 1px solid #d1d1d1;
  background: #fbfbfb; }
  @media (min-width: 769px) {
    .dashboard-search {
      width: 75%;
      display: flex;
      flex-flow: row;
      justify-content: flex-end; } }
  .dashboard-search input {
    margin-right: 0;
    width: 50%;
    padding: .7em;
    border: 1px solid #d1d1d1; }

.dashboard-title {
  vertical-align: middle;
  margin-top: 1em;
  margin-left: 1em;
  font-weight: 400; }

.btn {
  margin-bottom: 1.3em;
  width: 100%;
  padding: 1em;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-weight: 700; }
  .btn.primary {
    background: #7477bf;
    transition: background-color 1s; }
  .btn.secondary {
    background: #d1d1d1; }

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 34px; }
  .toggle-switch input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b2b2b2;
  border: 2px solid #d1d1d1;
  border-radius: 34px;
  transition: 0.4s; }
  input:checked + .slider {
    background-color: #7477bf; }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3.5px;
    background: #fff;
    border: 2px solid #d1d1d1;
    border-radius: 50%;
    transition: 0.4s; }
    input:checked + .slider:before {
      transform: translateX(250%); }
  .slider .on {
    display: none;
    transform: translate(-50%, -50%); }
    input:checked + .slider .on {
      display: block; }
  .slider .off {
    transform: translate(100%, -50%); }
    input:checked + .slider .off {
      display: none; }

.settings-label {
  margin: auto 0; }

* {
  box-sizing: border-box; }

/*# sourceMappingURL=styles.css.map */
