
.charts {
    width: 100%;
    @include flex(flex, row wrap);
    // display: grid;
    // grid-template-columns: auto;
    // grid-template-rows: auto;
    // grid-gap: 0;
    @include e(traffic) {
        // position: relative;
        width: 100%;
        border-bottom: 1px solid $grey;
        padding: 1em;
    }
    @include e(dailyTraffic) {
        // position: relative;
        width: 100%;
        border-bottom: 1px solid $grey;
        padding: 1em;
        @include mq(medium) {
           
            border-right: 1px solid $grey;
            width: 50%;
        }
    }
    @include e(mobileUsers) {
        // position: relative;
        width: 100%;
        padding: 1em;
        border-bottom: 1px solid $grey;
        @include mq(medium) {
            width: 50%;
        }
    }
}


#trafficChart,#dailytrafficChart, #mobileusersChart {
    height: 100%;
   
}

// .chartjs-hidden-iframe {
//     height: 100% !important;
// }