.message-user, .settings {
  input,
  textarea,
  select {
    @extend %border-default;
    width: 100%;
    padding: 1em;
    resize: none;
    background: #fbfbfb;
    margin: 0.8em 0;
    font-family: $font-family--primary;
  }
  input:focus,
  textarea:focus,
  input:hover,
  textarea:hover,
  select:hover,
  select:focus {
    outline: $primary-color;
    border: 1px solid $primary-color;
  }
}

.dashboard-search {
  @include flex(flex, row, center);
  @include mq(medium) {
    width: 75%;
    @include flex(flex, row, flex-end);
  }
  
  padding: 1em;
  @extend %border-bottom;
  border-left: 1px solid $border-color;
  background: #fbfbfb;
  input {
    margin-right: 0;
    width: 50%;
    @extend %border-default;
    padding: .7em;
    border: 1px solid $border-color;
  }
}

.dashboard-title {
  vertical-align: middle;
  margin-top: 1em;
  margin-left: 1em;
  font-weight: $font-weight--regular;
}
