.message-user, .settings {
  input,
  textarea,
  select {
    @extend %border-default;
    width: 100%;
    padding: 1em;
    resize: none;
    background: $alabaster;
    margin: 0.8em 0;
    font-family: $font-family--primary;
  }
  input:focus,
  textarea:focus,
  input:hover,
  textarea:hover,
  select:hover,
  select:focus {
    outline: $primary-color;
    border: 1px solid $primary-color;
  }
}


