body {
  width: 100%;
  @include mq(medium) {
    background: $lightgrey;
  }
 
}
.container {
  width: 100%;

}
.grid {
 
  @include e(row) {
    @include mq(medium) {
      @include flex(flex, row, space-between);
    }
  }
  @include e(col) {
    @include mq(medium) {
      width: 100%;
      @include flex(flex, column);
      @include g-columns;
      &--6 {
        @include flex(flex, column, space-between);
      }
    }
  }
}

.sidebar {
  @include flex(flex, row, space-around);
  @include mq(medium) {
    @include flex(flex, column, baseline);
  }
}

.switch-bar {
  @include flex(flex, row, space-between);
}

.daily-traffic,
.new-members,
.message-user {
  @include mq(medium) {
    border-right: 1px solid $border-color;
  }
}

.dashboard > .grid__row > .grid__col--6,
.social-stats,
.traffic {
  padding: 1em;
}


.dashboard > .grid__row:not(:first-child) {
  @extend %border-bottom;
}

.dashboard {
  max-width: 1400px;
  margin: 0 auto;
  background: $white;
}