body {
  width: 100%;
  @include mq(medium) {
    background: $lightgrey;
  }
}

.container {
  width: 100%;
}

.grid {
  @include e(row) {
    @include mq(medium) {
      @include flex(flex, row, space-between);
    }
  }
  @include e(col) {
    @include mq(medium) {
      width: 100%;
      @include flex(flex, column);
      @include g-columns;
      &--6 {
        @include flex(flex, column, space-between);
      }
    }
  }
}

.daily-traffic,
.new-members,
.message-user {
  @include mq(medium) {
    border-right: 1px solid $border-color;
  }
}

.dashboard > .grid__row > .grid__col--6,
.social-stats,
.traffic {
  padding: 1em;
}

.dashboard {
  > .grid__row:not(:first-child) {
    @extend %border-bottom;
  }
  max-width: 1400px;
  margin: 0 auto;
  background: $white;
  @include e(title) {
    vertical-align: middle;
    margin-top: 1em;
    margin-left: 1em;
    font-weight: $font-weight--regular;
  }
  @include e(search) {
    @include flex(flex, row, center);
    @include mq(medium) {
      width: 75%;
      @include flex(flex, row, flex-end);
    }
    padding: 1em;
    @extend %border-bottom;
    border-left: 1px solid $border-color;
    background: $alabaster;
    input {
      margin-right: 0;
      width: 50%;
      @extend %border-default;
      padding: 0.7em;
      border: 1px solid $border-color;
    }
  }
}
