.remove:after {
  display: none;
}
.header {
  width: 100%;
  background: $primary-color;
  font-weight: $font-weight--light;
  color: $white;
  align-items: center;
  padding: 1em;
  @include m(right) {
    @include flex(flex, row, center, $items: center);
    .notification {
      margin-right: 1em;
      position: relative;

      &:hover {
        cursor: help;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 85%;
        left: 75%;
        background: $color-notification-badge;
        width: 5px;
        height: 5px;
        border-radius: $br--round;
      }
    }
    .profile {
      border-left: 1px solid $secondary-color;
      padding: 0.3em 0 0.3em 1em;
      @include e(name) {
        font-size: 12px;
      }
      @include e(image) {
        border-radius: $br--round;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 0.3em;
      }
    }
    margin-top: 1em;
    @include mq(medium) {
      margin-top: 0;
    }
  }
}

.pop-up {
  height: 150px;
  .notifications {
    margin: auto 0;
  }
  @include flex(flex, column-reverse, space-between);
  @include mq (medium) {
    height: 100px;
    width: 500px;
    right: 1em;
    top: 5em;
  }
  top: 12em;
  width: 270px;
  display: none;
  border: 1px solid $border-color;
  border-radius: $br--default;
  position: absolute;
  background: $alabaster;
  color: $primary-color;
  button {
    font-family: $font-family--primary;
    margin: 0 auto;
    width: 100%;
    background: $primary-color;
    border: none;
    padding: 0.4em;
    font-size: 12px;
    color: $white;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
      background: $secondary-color;
    }
  }
  p {
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    font-weight: $font-weight--bold;
    line-height: 1;
    padding: 0.3em 0.3em;
    span {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5em;
      font-size: 20px;
      color: $lightgrey;
      transition: 0.3s;
      &:hover {
        transform: scale(1.3);
      }
    }
    &:hover {
      cursor: default;
      background: $primary-color;
      color: $white;
    }
  }
}
