// ----- side navigation -----
.side-nav{
  background: $secondary-color;
  @include e(item) {
    padding:  0 1.5em;
    margin: 1.5em 0;
    &:first-child {
      position: relative;
      &:after { 
        left: 0;     
        top: 49px;
        margin: 0 auto; 
        width: 100%; 
        position: absolute;
        content: ""; 
        border-top: 3px solid $de-york;
        border-radius: $br--default;
        @include mq(medium) {
          padding-top: 100%; 
          border-right: 3px solid $de-york;
          top: -10px;
          left: -100%;
          margin: 0 auto; 
          width: 100%; 
          padding-top: 70%; 
        }
      }    
    }
    &:not(:first-child) {
      opacity: 0.6;
    }
  }
  @include flex(flex, row, space-around);
  @include mq(medium) {
    @include flex(flex, column, baseline);
  }
}