body {
    font-family: $font-family--primary;
    font-size: $base__font-size;
}


a {
    text-decoration: none;
    color: $color-link-default;
}

.title span {
    font-weight: bold;
}
