body {
  font-family: $font-family--primary;
  font-size: $base__font-size;
  color: $darkgrey;
}

a {
  text-decoration: none;
  color: $color-link-default;
}

.app-name {
  font-size: 18px;
  span {
    font-weight: $font-weight--bold;
  }
}

.autocomplete-list {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  li {
    margin: 0 auto;
    width: 95%;
    cursor: pointer;
    border-radius: $br--default;
    display: block;
    border: 1px solid $border-color;
    background: $alabaster;
    padding: 0.5em;
    margin-bottom: 0.3em;
    &:hover {
      border-color: $primary-color;
    }
  }
}